<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkj2k_nnk-uNlVHAVKS1Pskts9LVg7VVY</string>
	<key>GCM_SENDER_ID</key>
	<string>980227771827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthMonitor</string>
	<key>PROJECT_ID</key>
	<string>healthmonitor-99d08</string>
	<key>STORAGE_BUCKET</key>
	<string>healthmonitor-99d08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980227771827:ios:56aa8f57d730c0919ccfc6</string>
</dict>
</plist>